<div class="statscard">
    <div class="card-header text-center h2 bg-dark text-white">
        <img class="rounded-circle" style="height: 120px; width: 60px" src="/Images/@Player.ImageName"/>
       <i class="fa-solid fa-address-card"></i>
        Stats
    </div>

    <div class="card-body stats scroll text-white fw-bold">
        <div>
            @Player.Name
            <hr>
        </div>
        <progress class="progressbar" value="@Player.RemainingFuel" max="@Player.TotalFuel"></progress>
        <ul class="list-unstyled">
            <li>Fuel : <span class="primary-color fw-bolder">@Player.CurrentFuelName</span></li>
            <li>Remaining : @($"{Player.RemainingFuel}/{Player.TotalFuel}")</li>
            <li><hr></li>
        </ul>
        <progress class="progressbar" value="@Player.RemainingAttack" max="@Player.TotalAttack"></progress>
        <ul class="list-unstyled">
            <li>Attack : <span class="primary-color fw-bolder">@Player.CurrentAttackName</span></li>
            <li>Remaining : @($"{Player.RemainingAttack}/{Player.TotalAttack}")</li>
            <li><hr></li>
        </ul>
        <progress class="progressbar" value="@Player.RemainingDefense" max="@Player.TotalDefense"></progress>
        <ul class="list-unstyled">
            <li>Defense : <span class="primary-color fw-bolder">@Player.CurrentDefenseName</span></li>
            <li>Remaining : @($"{Player.RemainingDefense}/{Player.TotalDefense}")</li>
            <li><hr></li>
        </ul>
        <div>
            <progress class="progressbar" value="@Player.Money" max="10000"></progress>
            Money: @Player.Money
            <hr>
        </div>
        <div>
            Level: @($"Level : {Player.GetLevel()} ({Player.Experience}/{Player.GetExperienceForNextLevel()})")
        </div>
    </div>
</div>

@code {
    [Parameter]
    public PlayerResult Player { get; set; }
}

